@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;

    --font-size-14-18: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem);
    --font-size-18-24: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
    --font-size-24-36: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem);
    --font-size-16: 1rem;

    --color-grey-1: #4f4f4f;
    --color-grey-2: #828282;
    --color-grey-3: #333333;
    --color-blue: #2f80ed;
    --color-white: #ffffff;

    --background-white: #ffffff;
    --background-blue: #2f80ed;
    --background-grey: #f2f2f2;
}

body {
    background-color: var(--background-grey);
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

.wrapper {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1em;
    padding-block: 2em;
}

.card {
    background-color: var(--background-white);
    border-radius: 12px;
    padding: 1em;
    margin-bottom: 2em;
}

.paragraph {
    font-size: var(--font-size-18-24);
    font-weight: var(--font-weight-500);
    color: var(--color-grey-2);
    text-align: justify;
}

.button {
    background-color: transparent;
    border: 1px solid var(--color-grey-1);
    font-size: var(--font-size-14-18);
    padding: 0.9em;
    border-radius: 12px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}


/* ABOUT */
.name {
    font-size: var(--font-size-24-36);
    line-height: clamp(29px, 1.2359rem + 2.1268vw,48px);
    font-weight: var(--font-weight-600);
    color: var(--color-grey-1);
}

.title {
    font-size: var(--font-size-18-24);
    font-weight: var(--font-weight-500);
    color: var(--color-grey-2);
}

.about__name-title-container {
    margin-bottom: 1.2em;
}

.about__contact-detail {
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--color-grey-1);
}

.about__contact-detail-icon,
.about__contact-detail {
    font-size: var(--font-size-18-24);
}

.about__contact {
    margin-bottom: 2em;
}


/* SKILLS */
.skills-section {
    background-color: var(--background-white);
}

.skills-section__skill-name {
    font-size: var(--font-size-18-24);
    font-weight: var(--font-weight-700);
    color: var(--color-grey-1);
    margin-bottom: 1em;
}

.skills-section__skill-tool {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
}

.skills-section__skill-tool-name {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
    color: var(--color-grey-1);
}

.skills-section__skill-tools-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    column-gap: 2em;
    row-gap: 0.5em;
}


/* HOBBIES */
.hobbies-section__heading {
    font-size: var(--font-size-24-36);
    font-weight: var(--font-weight-500);
    color: var(--color-grey-1);
    margin-bottom: 0.9em;
}

.hobbies-section__hobbies-container {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    column-gap: 1em;
    align-items: stretch;
}

.hobbies-section__hobby {
    margin-bottom: 2.25em;
}

.hobbies-section__hobby:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.hobbies-section__hobby-image:first-of-type {
    flex: 1;
}

.hobbies-section__hobby-image {
    border-radius: 12px;
}

.hobbies-section__hobby-name {
    font-size: var(--font-size-18-24);
    font-weight: var(--font-weight-600);
    color: var(--color-grey-3);
    margin-block: 1.4em 0.5em;
}


/* PROJECTS */
.projects-section__heading-container {
    align-items: center;
    gap: 0.5em;
    font-size: var(--font-size-18-24);
    font-weight: var(--font-weight-500);
    color: var(--color-grey-1);
    margin-bottom: 1em;
}

.projects-section__tools-tab {
    gap: 1em;
}

.active-tab {
    background-color: var(--background-blue);
    color: var(--color-white);
    border: none;
}

.projects-section__projects-container {
    display: grid;
    gap: 1em;
    transition: left 100ms ease;
}

.projects-section__project {
    background-color: var(--background-white);
    border-radius: 12px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.projects-section__project-image {
    border-radius: 12px;
    margin-bottom: 1em;
}

.projects-section__project-text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2em;
}

.projects-section__project-tags-container {
    display: flex;
    gap: 1em;
}

.projects-section__project-tag {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
    color: var(--color-grey-1);
    text-transform: capitalize;
}

.projects-section__project-name {
    font-size: var(--font-size-24-36);
    font-weight: var(--font-weight-500);
    color: var(--color-grey-3);
}

.projects-section__project-description {
    font-size: var(--font-size-14-18);
    font-weight: var(--font-weight-500);
    color: var(--color-grey-2);
    text-align: justify;
}

.projects-section__project-buttons-container {
    display: flex;
    gap: 1em;
    margin-top: auto;
}

.projects-section__project-button {
    border-radius: 12px;
    border: none;
}

.projects-section__project-button:first-child {
    background-color: var(--background-blue);
    color: var(--color-white);
}

.projects-section__project-button:last-child {
    border: 1px solid var(--background-blue);
    color: var(--color-blue);
}

.projects-section__project-pagination {
    text-align: right;
    padding-block-end: 2em;
}

.projects-section__project-pagination-button {
    display: inline-flex;
    padding: 0.5em;
    border-radius: 12px;
    border: 1px solid var(--color-grey-1);
    cursor: pointer;
}

[aria-disabled = true] {
    opacity: 0.5;
    cursor: not-allowed;
}


/* FOOTER */
.site-footer {
    margin-block-start: 2em;
    text-align: center;
}

.site-footer__attribution {
    font-size: var(--font-size-14-18);
    font-weight: var(--font-weight-500);
    color: var(--color-grey-2);
}

.site-footer__page-author {
    font-weight: var(--font-weight-700);
}

.site-footer__page-author,
.site-footer__challenge-author {
    text-decoration: underline;
}


/* MEDIA QUERIES */
@media screen and (min-width: 840px) {
    .projects-section__projects-container {
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-template-rows: auto auto;
        row-gap: 2em;
    }
}
